<div layout-padding>
  <div layout="column">
    <div flex>
      <h1>New Vehicle</h1>
    </div>
    <div flex layout="row" layout-padding>
      <div flex layout="column">
        <div flex layout="row">
          <div flex="30">
            <img class="car-logo" src="./images/Chevy.png"  alt="">
          </div>
          <div flex="70" layout="column">
            <md-input-container class="md-block" flex-gt-sm>
              <label>First name</label>
              <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Last Name</label>
              <input ng-model="theMax">
            </md-input-container>
          </div>
        </div>
        <div flex>
          <h4>Vehicle Properties</h4>
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="theMax">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="theMax">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="theMax">
          </md-input-container>
        </div>
      </div>
      <div flex>
        <div class="car-upload-img">
          <img src="http://i2.pinger.pl/pgr496/7da4a28b00222038514b48dc/Chevrolet_Camaro_2010_Pioneer_Stage4_7.jpg" alt="">
          <input type="file" id="fileinput" multiple="multiple" accept="image/*"/>
        </div>
        <div class="vehicle-form-gallery" itemscope itemtype="http://schema.org/ImageGallery">

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" itemprop="contentUrl" data-size="964x1024">
              <img src="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_m.jpg" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption 2.1</figcaption>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg" itemprop="contentUrl" data-size="1024x683">
              <img src="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_m.jpg" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption 2.2</figcaption>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_b.jpg" itemprop="contentUrl" data-size="1024x768">
              <img src="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_m.jpg" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption 2.3</figcaption>
          </figure>

        </div>
        <photoswipe></photoswipe>
      </div>
    </div>
    <h4>Engine Properties</h4>
    <div flex layout="row" layout-padding>
      <div flex>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Last Name</label>
          <input ng-model="theMax">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>First name</label>
          <input ng-model="user.firstName">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Last Name</label>
          <input ng-model="theMax">
        </md-input-container>
      </div>
      <div flex>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Last Name</label>
          <input ng-model="theMax">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>First name</label>
          <input ng-model="user.firstName">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Last Name</label>
          <input ng-model="theMax">
        </md-input-container>
      </div>
    </div>
  </div>
</div>
