<div layout-padding>
  <div layout="column">
    <div flex>
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="overview">
            <md-content class="md-padding">
              <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                  <span>Vehicles</span>
                </div>
              </md-toolbar>

              <!-- exact table from live demo -->
              <md-table-container>
                <table md-table md-row-select ng-model="selected" md-progress="promise">
                  <thead md-head md-order="query.order" md-on-reorder="onReorder">
                    <tr md-row>
                      <th md-column md-order-by="nameToLower"><span>Type</span></th>
                      <th md-column md-numeric md-order-by="model"><span>Model</span></th>
                      <th md-column md-numeric>Fleet</th>
                      <th md-column md-numeric>Details</th>
                      <th md-column md-numeric>Status</th>
                      <th md-column md-numeric></th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-select="vehicle" md-select-id="{{vehicle.id}}" md-auto-select ng-repeat="vehicle in vehicles">
                      <td md-cell>{{vehicle.type}}</td>
                      <td md-cell>{{vehicle.model}}</td>
                      <td md-cell>{{vehicle.fleet}}</td>
                      <td md-cell><md-button class="md-raised md-primary">Details</md-button></td>
                      <td md-cell><img src="./images/fm.png" style="width: 40px; height: 40px" alt=""></td>
                      <td md-cell>
                        <md-button class="md-fab md-primary" aria-label="Use Android">
                          <md-icon md-svg-src="img/icons/android.svg"></md-icon>
                        </md-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>

              <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>

            </md-content>
          </md-tab>
          <md-tab label="stats">
            <md-content class="md-padding">
              <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                  <span>Vehicles</span>
                </div>
              </md-toolbar>

              <!-- exact table from live demo -->
              <md-table-container>
                <table md-table md-row-select ng-model="selected" md-progress="promise">
                  <thead md-head md-order="query.order" md-on-reorder="onReorder">
                    <tr md-row>
                      <th md-column md-order-by="nameToLower"><span>Type</span></th>
                      <th md-column md-numeric md-order-by="model"><span>Model</span></th>
                      <th md-column md-numeric>Odometer</th>
                      <th md-column md-numeric>Maintenence status</th>
                      <th md-column md-numeric>Fuel level</th>
                      <th md-column md-numeric>Location</th>
                      <th md-column md-numeric>Status</th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row ng-click="showVehicleDialog($event)" md-select-id="{{vehicle.id}}" md-auto-select ng-repeat="vehicle in vehicles">
                      <td md-cell>{{vehicle.type}}</td>
                      <td md-cell>{{vehicle.model}}</td>
                      <td md-cell>{{vehicle.fleet}}</td>
                      <td md-cell>{{vehicle.odometer}}</td>
                      <td md-cell>{{vehicle.fuel_level}}</td>
                      <td md-cell>{{vehicle.location}}</td>
                      <td md-cell>{{vehicle.status}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>

              <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>

            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>

    <div flex>
      <div layout="column">
        <div flex class="add-button-place">
          <md-button class="md-fab md-primary add-btn" ui-sref="vehicleFrom" aria-label="Use Android">
            <i class="fa fa-plus fa-2x"></i>
          </md-button>
        </div>
      </div>
    </div>
  </div>

</div>
