<!-- HTML 5 draggable droppable swappable-->
<div layout-padding layout="column">
  <div flex>
    <section class="wrapper--tiles cf">
      <ul class="wrapper--assigned-tiles unstyled-list cf">
        <li class="tile assigned-tile" draggable="true" data-index="0">A</li>
        <li class="tile assigned-tile" draggable="true" data-index="1">B</li>
        <li class="tile" draggable="true" data-index="2"></li>
        <li class="tile" draggable="true" data-index="3"></li>
        <li class="tile" draggable="true" data-index="4"></li>
        <li class="tile" draggable="true" data-index="5"></li>
        <li class="tile" draggable="true" data-index="6"></li>
        <li class="tile" draggable="true" data-index="7"></li>
      </ul>
      <ul class="wrapper--unassigned-tiles unstyled-list cf">
        <li class="tile unassigned-tile" draggable="true" data-index="0a">0</li>
        <li class="tile unassigned-tile" draggable="true" data-index="1a">1</li>
        <li class="tile unassigned-tile" draggable="true" data-index="2a">2</li>
        <li class="tile unassigned-tile" draggable="true" data-index="3a">3</li>
        <li class="tile unassigned-tile" draggable="true" data-index="4a">4</li>
        <li class="tile unassigned-tile" draggable="true" data-index="5a">5</li>
        <li class="tile unassigned-tile" draggable="true" data-index="6a">6</li>
        <li class="tile unassigned-tile" draggable="true" data-index="7a">7</li>
        <li class="tile unassigned-tile" draggable="true" data-index="8a">8</li>
      </ul>
    </section>
  </div>
  <div flex>
    <section class="dashboard-grid-list">
      <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px" >
        <md-grid-tile class="blue" md-rowspan="2" md-colspan="2" md-rowspan-sm="2" md-colspan-sm="2">
          <md-grid-tile-header>
            <h3>Task management</h3>
          </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile class="blue" md-rowspan="2" md-colspan="2" md-rowspan-sm="2" md-colspan-sm="2">
          <md-grid-tile-header>
            <h3>Vehicles</h3>
          </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile class="blue" md-rowspan="2" md-colspan="2" md-rowspan-sm="2" md-colspan-sm="2">
          <md-grid-tile-header>
            <h3>Drivers</h3>
          </md-grid-tile-header>
        </md-grid-tile>
      </md-grid-list>
    </section>
  </div>

</div>
