<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
      <i class="fa fa-bars fa-2x"></i>
    </md-button>
    <h2>
      <span>{{$state.current.name | uppercase}}</span>
    </h2>
    <span flex></span>
    Vildan Tursic
    <md-button class="md-icon-button" aria-label="More">
      <i class="fa fa-user fa-2x"></i>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
      <i class="fa fa-bell fa-2x"></i>
    </md-button>
  </div>
</md-toolbar>
