<div>
  <!-- <div class="vehicle-box" layout="column">
    <div flex layout='row'>
      <div flex>
        <h4>Vehicle model</h4>
        <p>Vehicle plates</p>
      </div>
      <div flex>
        <img src="./images/Chevy.png" alt="">
      </div>
    </div>
    <div flex>
      <h4>Vehicle status</h4>
    </div>
  </div> -->

  <md-card class="vehicle-box">
    <md-card-title>
      <md-card-title-text layout="column">
        <div flex>
          <span class="md-headline">Vehicle model</span>
          <span class="md-subhead">Vehicle plates</span>
        </div>
        <div flex>
          <span class="md-headline">Status</span>
        </div>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <img src="./images/Chevy.png" alt="">
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <!-- <md-button>Action 1</md-button>
      <md-button>Action 2</md-button> -->
    </md-card-actions>
  </md-card>
</div>
