#map, #map-review {
    height: 93vh;
    width: 100%;
}
.side-nav {
  width: 200px;
}
.side-nav .md-theme-indigo {
  height: 170px;
  text-align: center;
}
.side-nav .md-theme-indigo .md-toolbar-tools{
  font-size: 18px;
  padding: 20px;
}

.side-nav .md-theme-indigo .logo{
  position: relative;
  height: 110px;
  padding: 5px;
  width: 100%;
  text-align: center;
}
.side-nav .md-theme-indigo .logo img{
  position: relative;
  height: 100px;
  width: 100px;
}

.scrolling {
  height: 95vh;
  overflow: scroll;
}
.fix {
  overflow: hidden;
}

.right-nav {
  width: 300px;
  transition: ease all 0.5s;
}
.move-nav-right {
  margin-right: -300px;
}
.return-nav-right {
  margin-right: 0;
}
.return-nav-right-btn {
  z-index: 2;
  position: absolute;
  top: 70px;
  right: 20px;
}

.add-button-place {
  text-align: center;
}
.add-btn {
  padding-top: 7px;
}

.btn-fix {
  padding-top: 4px;
}

/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/


.progress {
  width: 100%;
  height: 35px;
  background: #C7C7C7;
  overflow: hidden;
}
.progress>div{
  height: inherit;
  float: left;
  text-align: center;
}
.progress p{
  margin-top: 10px;
}
.progress .done{
  width: 60%;
  background-color: #4CAF50;
  transition: ease all 0.5s;
  overflow: hidden;
}
.progress .in-progress{
  width: 15%;
  background-color: #2196F3;
  transition: ease all 0.5s;
  overflow: hidden;
}
.progress .not-done{
  width: 25%;
  background-color: #F44336;
  transition: ease all 0.5s;
  overflow: hidden;
}

/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/

.car-upload-img img {
  width: 100%;
}

.car-logo {
  border: solid 1px #2196F3;
}

.vehicle-form-gallery {
  width: 100%;
  float: left;
}
.vehicle-form-gallery img {
  width: 100%;
  height: auto;
}
.vehicle-form-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.vehicle-form-gallery figcaption {
  display: none;
}

/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/

.box {
  overflow: hidden;
}
.main-box {
  text-align: left !important;
  height: 180px;
}
.main-box p{
  margin: 0;
  text-align: center;
  height: 20%;
  padding-top: 5px;
}

.main-box .info-box {
  width: 100%;
  height: 80%;
  padding: 5px;
}
.main-box .info-box img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.gray {
  background: #f5f5f5;
}
.green {
  background: #b9f6ca;
}
.yellow {
  background: #ffff8d;
}
.blue {
  background: #84ffff;
}
.purple {
  background: #b388ff;
}
.red {
  background: #ff8a80;
}

/*/////////////////////////////*/

.dashboard-grid-list md-grid-list {
  margin: 8px;
}
.dashboard-grid-list .gray {
  background: #f5f5f5;
}
.dashboard-grid-list .green {
  background: #b9f6ca;
}
.dashboard-grid-list .yellow {
  background: #ffff8d;
}
.dashboard-grid-list .blue {
  background: #84ffff;
}
.dashboard-grid-list .purple {
  background: #b388ff;
}
.dashboard-grid-list .red {
  background: #ff8a80;
}
.dashboard-grid-list md-grid-tile {
  transition: all 400ms ease-out 50ms;
}

/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/

.hide {
     display: none;
 }
.full-height {
     min-height: 100%;
     height: 100%;
 }

 .no-sel {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 .no-transform:hover {
     -moz-transform: none;
     -webkit-transform: none;
     -ms-transform: none;
 }
 .required:after {
     content: '*';
     color: #ff0000;
     padding-left: 5px;
     font-size: 16px;
 }

 .ir {
   font: 0/0 a;
   text-shadow: none;
   color: transparent;
 }

 .no-transition {
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
 }

 .unstyled-list {
    padding: 0;
    margin: 0;
    list-style: none;
 }

 .not-bold {
    font-weight: 600;
 }


 /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before, .cf:after {
     content:" ";
     /* 1 */
     display: table;
     /* 2 */
 }
 .cf:after {
     clear: both;
 }
 /**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
     *zoom: 1;
 }

.dragging {
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
    opacity: 0.4;
    /*-webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);*/
}

.wrapper--tiles {
    margin-top: 15px;
}

    .tile {
        background: #f9f9f9;
        border: 2px solid #ddd;
        box-sizing: border-box;
        color: transparent;
        float: left;
        font: 0/0 a;
        margin-right: 10px;
        margin-top: 10px;
        text-align: center;
        text-shadow: none;
    }

        .tile[draggable="true"] {
            cursor: -webkit-grab;
            cursor: grab;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            -khtml-user-drag: element;
            -webkit-user-drag: element;
        }

.wrapper--assigned-tiles.full-width {
    width: 100%;
}
.wrapper--assigned-tiles.full-width > .tile {
    width: 24.4%;
}

.wrapper--assigned-tiles {
    /*float: left;
    width: 80%;*/
    /*-webkit-transition: -webkit-transform 0.1s ease-out;
    -moz-transition: -moz-transform 0.1s ease-out;
    -o-transition: -o-transform 0.1s ease-out;
    -ms-transition: -ms-transform 0.1s ease-out;*/
}

    .wrapper--assigned-tiles > .tile {
        border-style: dashed;
        height: 180px;
       /* -webkit-animation: zoom-in 0.3s cubic-bezier(.1, -0.04, .91, .94) forwards;
        animation: zoom-in 0.3s cubic-bezier(.1, -0.04, .91, .94) forwards;*/
        width: 23.5%;
    }

    @media (max-width: 600px) {
      .wrapper--assigned-tiles > .tile {
          border-style: dashed;
          height: 180px;
         /* -webkit-animation: zoom-in 0.3s cubic-bezier(.1, -0.04, .91, .94) forwards;
          animation: zoom-in 0.3s cubic-bezier(.1, -0.04, .91, .94) forwards;*/
          width: 100%;
      }
    }

    .wrapper--assigned-tiles > .tile:nth-child(4),
    .wrapper--assigned-tiles > .tile:nth-child(8) {
        margin-right: 0;
    }

    .wrapper--assigned-tiles .assigned-tile {
        background: #f5f5f5;
        border-color: #d6d6d6;
        border-style: solid;
        /*line-height: 180px;*/
    }

    .assigned-tile,
    .unassigned-tile {
        color: inherit;
        font: inherit;
        text-shadow: inherit;
    }

    .edit-mode .assigned-tile {
        cursor: move;
    }
    .over,
    .assigned-tile.over {
        border: 2px dashed #aaa;
    }

.wrapper--unassigned-tiles {
    /*float: right;
    width: 20%;*/
    height: 380px;
    overflow: auto;
    padding-right: 10px;
    box-sizing: border-box;
}
    .unassigned-tile {
        background-color: #f9f9f9;
        text-align: center;
        width: 100%;
        height: 30px;
        /*line-height: 30px;*/
    }

@-webkit-keyframes zoom-in {
    from {
        opacity: 0;
        -webkit-transform:scale(0);
        -moz-transform:scale(0);
        -ms-transform:scale(0);
        -o-transform:scale(0);
        transform:scale(0);
    }
    to {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        opacity: 1;
    }
}
@-ms-keyframes zoom-in {
    from {
        opacity: 0;
        -webkit-transform:scale(0);
        -moz-transform:scale(0);
        -ms-transform:scale(0);
        -o-transform:scale(0);
        transform:scale(0);
    }
    to {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        opacity: 1;
    }
}
.wrapper--assigned-tiles.tile:nth
child(2),
.wrapper--assigned-tiles .tile:nth-child(6) {
    -webkit-animation-delay: .05s;
    animation-delay: .05s;
}
.wrapper--assigned-tiles .tile:nth-child(3),
.wrapper--assigned-tiles .tile:nth-child(7) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.wrapper--assigned-tiles .tile:nth-child(4),
.wrapper--assigned-tiles .tile:nth-child(8) {
    -webkit-animation-delay: .12s;
    animation-delay: .12s;
}

/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/

.dialog-list {
  width: 700px;
  height: 300px;
}

.vehicle-box {
  width: 38%;
  float: left;
  background: #2196F3;
  /*height: 150px;
  padding: 5px;
  margin: 5px;*/
}
.vehicle-box img{
  width: 100%;
  /*float: right;*/
  /*height: 70px;*/
  /*margin: 10px;*/
  border: solid 1px white;
}
/*/////////////////*/

.driver-box {
  width: 38%;
  float: left;
  background: #2196F3;
  /*height: 150px;
  padding: 5px;
  margin: 5px;*/
}
.driver-box img{
  width: 100%;
  /*float: right;
  height: 70px;
  margin: 10px;*/
}

/*//////////////////////////////////////////////////*/
/*Charts*/

.chart {
  width:350px;
  height: 250px;
}
@media (max-width: 800px) {
  .chart {
    width:450px;
    height: 400px;
  }
}

/*//////////////////////////////////////////////////*/
/*Menu*/
.active {
  background: rgb(33,150,243);
}
